body{
    background-color: rgb(226, 235, 235);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.navigation{
display: inline-block;
width: 100%;
margin: 5% 25%;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
}

.plan{
  background-color: rgb(255, 128, 0);
padding: 2%;
margin-right: 3%;
color: white;
border-radius: 50%;
}
.learn{
    background-color: aqua;
    padding: 2%;
    color: white;
    border-radius: 50%;
}
.get{
    background-color: rgb(255, 217, 0);
    padding: 2%;
   margin-left: 3%;
   color: white;
   border-radius: 50%;
}
.header img{
    width: 15%;
    border-radius: 50%;
    margin: 10%;
}
.header .container img h1 p{
    display: inline;
    width: 100%
}
.footer img{
    width:100%;
    height:300px;
}
.para p{
 background-color: rgba(236, 199, 166, 0.992);
padding: 2%;
}
.logo img{
    width: 15%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo p{
   text-align: center;
   padding: 10%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: larger;
}